/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* These overrides aer workarounds due to apparent webkit issues when fullscreen.
- In one case, the browser default z-index/position values cannot be overridden when fullscreen */


/* Forces modals with the allow-fullscreen cssClass to go fullscreen */
ion-modal.allow-fullscreen:-webkit-full-screen-ancestor {
    --height: 100vh;
    --width: 100vw;
}

/* Prevents clicks on the backdrop when in fullscreen for the modals with the 'allow-fullscreen' cssClass */
ion-modal.allow-fullscreen:-webkit-full-screen-ancestor::part(backdrop) {
    pointer-events: none;
}


/* Sets z-index for any modals that are not at the top (this is set via renderer2 in app.comoponent.ts) */
ion-modal.z-auto {
    z-index: auto !important;
}

